name: non-inclusive

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  woke:
    name: woke
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: woke
        uses: get-woke/woke-action@v0
        with:
          fail-on-error: true
