name: non-inclusive

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  woke:
    name: woke
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: woke
        uses: get-woke/woke-action@v0
        with:
          fail-on-error: true
