name: npm release

on:
  push:
    tags:
      - "*"
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org/

      - name: npm test
        run: |
          npm install
          npm run lint --if-present
          npm test --if-present
        env:
          CI: true

      - run: npm shrinkwrap

      - run: npm run build --if-present

      - name: npm auth
        run: npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: npm auth & publish
        run: npm publish --access public
